<div flex="">

	<div  ng-repeat="category in category.categories">
	<md-card>
		<md-card-content>
			<md-card>
				<md-card-content>
							<div layout="column" flex>
								<div layout = "row">
								<div class="md-title" flex="80">{{category.title}}</div>
								<!-- <div layout = "row" flex="20" layout-align = "center end">
										<div  flex="50">
											<md-icon md-font-set="material-icons">comment</md-icon> 67
										</div>
										<div  flex="50">
											<md-icon md-font-set="material-icons">visibility</md-icon> 10
										</div>
								</div> -->
							</div>
								<md-subheader>{{category.description}}</md-subheader>
							</div>
						</md-card-content>
			</md-card>

		<!-- <md-divider></md-divider> -->

			<md-list>
				<div ng-repeat = "subcategory in category.category_set"
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>{{subcategory.title}}</h3>
								<p>{{subcategory.description}}</p>
							</div>
							<!-- <div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div> -->
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
			</div>
			</md-list>
		</md-card-content>
	</md-card>

</div>

</div>
