<div flex="">
	<md-card>
		<md-card-content>
			<md-card>
				<md-card-content>
							<div layout="column" flex>
								<div layout = "row">
								<div class="md-title" flex="80">Category 1</div>
								<div layout = "row" flex="20" layout-align = "center end">
										<div  flex="50">
											<md-icon md-font-set="material-icons">comment</md-icon> 67
										</div>
										<div  flex="50">
											<md-icon md-font-set="material-icons">visibility</md-icon> 10
										</div>
								</div>
							</div>
								<md-subheader>Description of b1 bla bla bla bla bla bla bla bla bla bla bla bla</md-subheader>
							</div>
						</md-card-content>
			</md-card>

		<!-- <md-divider></md-divider> -->

			<md-list>
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 1</h3>
								<p>Description of sb1 bla bla bla bla bla bla bla bla bla bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 2</h3>
								<p>Description of sb2 bla bla bla............... . . . . . </p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 3</h3>
								<p>Description of sb3 bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<md-card>
				<md-card-content>
					<div layout="row">
						<div layout="column" flex="80" layout-align="center start">
							<h3>Sub Category 1</h3>
							<p>Description of sb1 bla bla bla bla bla bla bla bla bla bla bla bla</p>
						</div>
						<div layout = "row" flex="20" layout-align = "center end">
								<div  flex="50">
									<md-icon md-font-set="material-icons">comment</md-icon> 67
								</div>
								<div  flex="50">
									<md-icon md-font-set="material-icons">visibility</md-icon> 10
								</div>
						</div>
					</div>
						</md-card-content>
			</md-card>
		<md-divider></md-divider>
			<md-list>
				<md-list-item class="md-2-line" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text md-offset">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 1</h3>
								<p>Description of sb1 bla bla bla bla bla bla bla bla bla bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text md-offset">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 2</h3>
								<p>Description of sb2 bla bla bla............... . . . . . </p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text md-offset">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 3</h3>
								<p>Description of sb3 bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<div layout="row">


				<div layout="column" flex="80" layout-align="center start">
					<h2 class="md-title">Category 1</h2>
					<md-subheader>Description of b1 bla bla bla bla bla bla bla bla bla bla bla bla</md-subheader>
				</div>
				<div layout = "row" flex="20" layout-align = "center end">
						<div  flex="50">
							<md-icon md-font-set="material-icons">comment</md-icon> 67
						</div>
						<div  flex="50">
							<md-icon md-font-set="material-icons">visibility</md-icon> 10
						</div>
				</div>

		</div>
		<md-divider></md-divider>
			<md-list>
				<md-list-item class="md-2-line" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text md-offset">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 1</h3>
								<p>Description of sb1 bla bla bla bla bla bla bla bla bla bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text md-offset">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 2</h3>
								<p>Description of sb2 bla bla bla............... . . . . . </p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text md-offset">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 3</h3>
								<p>Description of sb3 bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>

	<md-card>
		<md-toolbar class="md-tall">
			<div class="md-toolbar-tools" layout="column">
				<div>
			<h3><span>Category 1</span></h3>
					</div>
					<div>
			<p>Description</p>
</div>
		</div>
	</md-toolbar>
		<md-card-content>

			<md-list>
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 1</h3>
								<p>Description of sb1 bla bla bla bla bla bla bla bla bla bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 2</h3>
								<p>Description of sb2 bla bla bla............... . . . . . </p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line md-offset" >
					<md-icon class="material-icons md-48" layout-align="center center">list</md-icon>
					<div class="md-list-item-text">
						<div layout="row">
							<div layout="column" flex="80" layout-align="center start">
								<h3>Sub Category 3</h3>
								<p>Description of sb3 bla bla bla</p>
							</div>
							<div layout = "row" flex="20" layout-align = "center end">
									<div  flex="50">
										<md-icon md-font-set="material-icons">comment</md-icon> 67
									</div>
									<div  flex="50">
										<md-icon md-font-set="material-icons">visibility</md-icon> 10
									</div>
							</div>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>

</div>
